/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-5-15, 13:23:18
    Author     : andre
*/
.page{
    max-width: 970px;
    margin:0 auto;
    position: relative;
}

#type-select{
    height:30px;
    width: 80px;
    margin-top: 10px;
    margin-left: 40px;
}

.pageheader{
    text-align: center;
}

.valuesbox{
     border:4px solid #1ABC9C;
     border-radius: 15px;
     padding-top: 15px;
     padding-bottom: 15px;
     margin-bottom: 15px;
}

.valuesbox:hover{
    border:5px solid #16A085;
    -webkit-box-shadow: 5px 5px 18px 3px #34495E ;
    box-shadow: 5px 5px 18px 3px #34495E ;

}

.valuesbox p,a{
    padding:0 100px 0;
    
    margin-bottom: 0;
}